<div  class="container">
    <div class="row">
        <div class="col-sm-3">
            <h1 class="title">
                PFS
            </h1>
            <p class="subtitle">
                <strong>PRICE FIGHTER SCIENCE</strong>!
            </p>
            <form class="create-fo rm">

      <div class="form-group">
        <label for="ca">Select Fighter:</label>
        <input type="text" id="burgerid" name="name">
      </div>


      <button id="add" type="submit">search</button>

    </form>

            


            <br>
            </br>
            <img src="/assets/images/pfs.jpg" alt=""></img>
            <br>
            </br>
            Name:
            <br>
            </br>
            Age:
            <br>
            </br>

            Hight:
            <br>
            </br>

            Record:
            <br>
            </br>
            Fight IQ:
            <br>
            </br>
            stance:
            <br>
            </br>
            style:
            <br>
            </br>
            Nationality:
            <br>
            </br>
            gym/coach:
            <br>
            </br>
            Conditioning/ fitness/cardio:
            <br>
            </br>
            Disciplines:
            <br>
            </br>
            Technic level/skill level:
            <br>
            </br>
            Athleticism:
            <br>
            </br>

            heart/indurance:
            <br>
            </br>
            Chin:
            <br>
            </br>
            Footwork:
            <br>
            </br>
            Head movement:
            <br>
            </br>
            Striking accurcy:
            <br>
            </br>
            speed : 
            <br>
            </br>
            power: 
            <br>
            </br>
            Strength:
            <br>
            </br>
            possitive x factor: 
            <br>
            </br>
            neagtive x factor:
             <br>
            </br>
            <br>
            </br>
            <br>
            </br>
        </div>
    </div>
    <h6>pfs</h6>
    